{% load adminlte_helpers %}
{% load static %}
<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    {% block logo %}
        <a href="{% url 'admin:index' %}" class="brand-link">
            <img src="https://d1hbpr09pwz0sk.cloudfront.net/logo_url/onix-systems-llc-ae4deb3c" alt="Logo"
                 class="brand-image elevation-3" style="opacity: .8">
            {% block logo_text %}<span class="brand-text font-weight-light">General Task </span>{% endblock %}
        </a>
    {% endblock %}
    <!-- sidebar: style can be found in sidebar.less -->
    <div class="sidebar">
        <!-- Sidebar user panel -->
        {% block user_panel %}
            <!-- Sidebar user panel (optional) -->
        {% endblock %}

        {% block form %}{% endblock %}

        <!-- sidebar menu: : style can be found in sidebar.less -->
        {% block nav_links_ul %}
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    {% block nav_links_outer %}
                        <li class="nav-header">{% block nav_heading %}MAIN NAVIGATION{% endblock %}</li>

                        {% block nav_links %}
                            <li>
                                <a href="/dashboard/">
                                    <i class="fa fa-window-maximize"></i> <span>Dashboard</span>
                                </a>
                            </li>
                            <li>
                                <a href="/dashboard/teachers">
                                    <i class="fa fa-user"></i> <span>Teachers</span>
                                </a>
                            </li>
                            <li>
                                <a href="/dashboard/classes">
                                    <i class="fa fa-address-card"></i> <span>Classes</span>
                                </a>
                            </li>
                            <li>
                                <a href="/dashboard/reports">
                                    <i class="fa fa-envelope-open"></i> <span>Reports</span>
                                </a>
                            </li>
                            <li>
                                <a href="/dashboard/feedbacks">
                                    <i class="fa fa-window-restore"></i> <span>Feedbacks</span>
                                </a>
                            </li>
                        {% endblock nav_links %}

                    {% endblock nav_links_outer %}
                </ul>
            </nav>
        {% endblock nav_links_ul %}
    </div>
    <!-- /.sidebar -->
</aside>