{% load adminlte_helpers i18n %}
{% load static %}
<nav class="main-header navbar navbar-expand navbar-white navbar-light">

    <!-- Header Navbar: style can be found in header.less -->
    {% block nav_bar %}
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="/dashboard" class="nav-link">Home</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="/admin" class="nav-link">Admin</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="/admin/logout" class="nav-link">Logout</a>
            </li>
        </ul>

        {% block nav_bar_center %}
        {% endblock %}

        {% block nav_custom_menu %}
        {% endblock nav_custom_menu %}

    {% endblock %}
</nav>