{% load static %}

{% block scripts %}
    <script src="{% static 'admin-lte/plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script src="{% static 'admin-lte/plugins/bootstrap/js/bootstrap.bundle.min.js' %} "></script>


    {% block datatable_js %}{% endblock %}

    <script src="{% static 'admin-lte/dist/js/adminlte.min.js' %}"></script>
    <script src="{% static 'admin-lte/dist/js/demo.js' %}"></script>
    <script src="{% static 'js/Chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
{% endblock %}