{% extends 'adminlte/base.html' %}

<!-- Set title of app -->
{% block title %}Classes{% endblock %}

<!-- Specify content of main body of page -->
{% block content %}
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    <h3>Students</h3>
    <table style="text-align: center">
        <tr>
            <td>Name</td>
        </tr>
        {% for student in students %}
            <tr>
                <td>{{ student.name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
