{% extends 'adminlte/base.html' %}

<!-- Set title of app -->
{% block title %}Classes{% endblock %}

<!-- Specify content of main body of page -->
{% block content %}
    <table style="text-align: center">
        <tr>
            <td>Name</td>
            <td>Creator</td>
            <td>Count of students</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        {% for class in classes %}
            <tr>
                <td>{{ class.name }}</td>
                <td>{{ class.creator }}</td>
                <td>{{ class.count_students }}</td>
                <td><a href="edit/{{ class.id }}">Edit</a></td>
                <td><a href="delete/{{ class.id }}">Del</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
