{% extends 'adminlte/base.html' %}

<!-- Set title of app -->
{% block title %}Dashboard{% endblock %}

<!-- Specify content of main body of page -->
{% block content %}

    <div style="width: 50%">
        <canvas id="dashboard-graph"></canvas>
    </div>
    <div>
        <div style="display: inline-block">Number of all registered teachers: </div>
        <div style="display: inline-block">{{ all_teachers }}</div>
    </div>
    <div>
        <div style="display: inline-block">The number of all classes created: </div>
        <div style="display: inline-block">{{ all_classes }}</div>
    </div>
    <script type="application/javascript">
        window.config_chart_graph = {
            type: 'line',
            data: {
                labels: [
                    {% for teacher_statistic in teacher_statistics %}
                        '{{ teacher_statistic.start_date }} - {{ teacher_statistic.end_date }}',
                    {% endfor %}
                ],
                datasets: [{
                    label: 'Teachers',
                    fill: false,
                    data: [
                        {% for teacher_statistic in teacher_statistics %}
                            parseInt('{{ teacher_statistic.count }}'),
                        {% endfor %}
                    ],
                }]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Teacher Registration Statistics'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    x: {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'date'
                        }
                    },
                    y: {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'amount'
                        }
                    }
                }
            }
        };

    </script>
{% endblock %}
