{% extends 'adminlte/base.html' %}

<!-- Set title of app -->
{% block title %}Feedbacks{% endblock %}

<!-- Specify content of main body of page -->
{% block content %}
    <table style="text-align: center">
        <tr>
            <td>Title</td>
            <td>Creator</td>
            <td>E-mail</td>
            <td>Content</td>
        </tr>
        {% for feedback in feedbacks %}
            <tr>
                <td>{{ feedback.title }}</td>
                <td>{{ feedback.creator }}</td>
                <td>{{ feedback.email }}</td>
                <td>{{ feedback.content }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
