{% extends 'adminlte/base.html' %}

<!-- Set title of app -->
{% block title %}Reports{% endblock %}

<!-- Specify content of main body of page -->
{% block content %}
    <table style="text-align: center">
        <tr>
            <td>Title</td>
            <td>Creator</td>
            <td>E-mail</td>
            <td>Content</td>
        </tr>
        {% for report in reports %}
            <tr>
                <td>{{ report.title }}</td>
                <td>{{ report.creator }}</td>
                <td>{{ report.email }}</td>
                <td>{{ report.content }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
