{% extends 'adminlte/base.html' %}

<!-- Set title of app -->
{% block title %}Send email{% endblock %}

<!-- Specify content of main body of page -->
{% block content %}

    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}
