{% extends 'adminlte/base.html' %}

<!-- Set title of app -->
{% block title %}Teachers{% endblock %}

<!-- Specify content of main body of page -->
{% block content %}
    <table style="text-align: center">
        <tr>
            <td>First name</td>
            <td>Last name</td>
            <td>E-mail</td>
            <td>Date joined</td>
            <td>Edit</td>
            <td>Block/unblock</td>
            <td>Send mail</td>
        </tr>
        {% for teacher in all_teachers %}
            <tr>
                <td>{{ teacher.first_name }}</td>
                <td>{{ teacher.last_name }}</td>
                <td>{{ teacher.email }}</td>
                <td>{{ teacher.date_joined }}</td>
                <td><a href="edit/{{ teacher.id }}">Edit</a></td>
                <td>
                    {% if teacher.is_active %}
                        <a href="block/{{ teacher.id }}">Block</a>
                    {% else %}
                        <a href="unblock/{{ teacher.id }}">Unblock</a>
                    {% endif %}
                </td>
                <td><a href="mail/{{ teacher.id }}">Send mail</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
