{%load socialaccount%}
{% load crispy_forms_tags %}
{%providers_media_js%}
{%block content%}
<div align="center" style="margin-top: 15%;" class="text-center"> <!-- Testing if bootstrap.css static file connected in base template -->
    <form action="" method="post" class="form-group">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" onclose="">Login</button>
        <br>
        <a href="/auth/register">Register new account </a> <br>
        <a href="{%provider_login_url "google" %}"> Login with Google</a> <br>
        <a href="{%provider_login_url "facebook" method="oauth2" %}"> Login with Facebook</a>

    </form>
</div>


{%endblock%}